body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background: white;
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    font-weight: 700;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label, select, button {
    margin: 10px 0;
    font-size: 1.2em;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

#status-container {
    margin-top: 30px;
}

.table {
    margin-top: 20px;
}

.table thead {
    background-color: #343a40;
    color: white;
}

.table-success {
    background-color: #d4edda;
}

.table-danger {
    background-color: #f8d7da;
}

.progress-bar {
    height: 25px;
}

.spinner-border {
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
